/* ---RESET---*/
*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  /* 1rem = 16px (User Agent) = 100% (User Agent) */
  background-color: #f2f2f2;
   font-size: 62,5%; /* 10px */
}

header{
  width: 100%;
  height: 104px;
  background: url(/assets/images/logo.png) no-repeat;
  background-size: inherit;
  background-position: bottom -0.2px right 0px;
  background-color:#1a374c;
}

.layer-liner-gradient{
  background-image: linear-gradient(to right, #1a374c,#1a364b, #1a364b85, #0000002e, #00000026);
  width: 100%;
  height: 100%;
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  height: 100%;
  width: 100%;
}

.header-content .title{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-size: 26px;
  color: white;
  align-content: center;
  display: flex;
}

.header-content .menu-home{
  display: flex;
  align-items: center;
}

.header-icon{
  width: 50px;
  height: 50px;
}

.pipe{
  width: 2px;
  height: 40px;
  opacity: 0.6;
  background-color: #ffffff;
  margin: 0 18px 0 18px;
}

.header-button:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.header-button{
  display: flex;
}

.user-content{
  display: inline-grid;
  align-items: center;
}

.user-content span{
  margin-left: 3px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
}

/* MAIN */

main{
  display: flex;
  margin-top: 1px;
}

.nav{
  position: absolute;
  bottom: 0;
  top: 105px;
  min-width: 200px;
  background-image: linear-gradient(to bottom, #1a374c,#5fb7f6);
  font-family: 'Source Sans Pro', sans-serif;
  float: left;
}

.nav li{
  background-color: #1a374c;
  color: white;
  margin-bottom: 5px;
  height: 40px;
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.nav .head{
  background: none;
  padding-left: 20px;
  height: 50px;
  color: white;
  margin-bottom: 5px;
  align-items: center;
}

.nav-icon{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

main .content{
  width: 100%;
  margin-left: 210px;
  padding: 50px;
}

main .title span{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  font-weight: 100px;
  color: #1a364b;
}

hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #1a364b;
  height: 1px;
  width: 100%;
}

.grid{
  margin-top: 10px;
  padding: 15px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.info-content{
  width: 500px;
  /* background: hotpink; */
}

.register{
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.build{
  display: grid;
  width: 100%;
  padding-right: 10px;
}

.build select{
  background-color: white;
  height: 25px;
  border-radius: 3px;
  box-shadow: 0 0px 3px 2px rgb(0 0 0 / 16%);
}

.build select:hover {
  filter: brightness(95%);
  cursor: pointer;
}

.build label{
  align-items: initial;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}


.local{
  display: grid;
  width: 100%;
}

.local label{
  align-items: initial;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

.local input{
  height: 25px;
  border-radius: 3px;
  box-shadow: 0 0px 3px 2px rgb(0 0 0 / 16%);
}

main button{
  display: grid;
  width: 100%;
}

.button-register button{
  margin-top: 27px;
  width: 24px;
  margin-left: 10px;
  height: 25px;
  border-radius: 3px;
  box-shadow: 0 0px 3px 2px rgb(0 0 0 / 16%);
}

.add-icon{
  height: 16px;
  align-self: center;
  justify-self: center;
}

button:hover {
  filter: brightness(95%);
  cursor: pointer;
}

.table-icon{
  width: 15px;
  height: 15px;
}